/* Error Toast */
.Toastify__toast--error {
  background: linear-gradient(
    90deg,
    #0e0a0a 50%,
    rgba(109, 27, 27, 0.493) 100%
  );
  color: white;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 300px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Error Toast */
.Toastify__toast--success {
  background: linear-gradient(90deg, #0e0a0a 50%, rgba(27, 26, 26, 0.493) 100%);
  color: white;
  font-weight: bold;
  font-size: medium;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 300px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Body Content */
.Toastify__toast-body {
  font-size: 14px;
  width: 100%; /* Ensure the text is centered within the toast */
}

/* Center the Toast on Page */
.Toastify__toast-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto; /* Adjust width for content */
}

/* Success Toast */
.toast-success-login {
  background: linear-gradient(90deg, #00ff00 50%, #00aaff 100%);
  color: white;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 16px;
}

/* Error Toast */
.toast-error-login {
  background: linear-gradient(90deg, #ff0000 50%, #ff9900 100%);
  color: white;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 16px;
}
